body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(#00ffee 0%, #9d00ff 100%);
}

.header_div{
    background: rgb(0, 115, 255);
    color:rgb(64, 64, 150);
    box-shadow: 5px 5px 35px rgb(0, 51, 255);
}

.header_div img{
    width: 70px;
}

.main_div{
    background:#00ffee;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid #7300ff;

}

.main_div label{
    width: 300px;
    padding: 10px;
    margin-top:0px;
}

#camera, #snapshot_view{
    border: 5px solid #9455e0;
    height: 300px;
    width: 310px;
    box-shadow: 5px 5px 100px rgb(255, 0, 89);
}

.blub{
    width: 100px;
    height: 100px;
}

.footer_div h4{
    background:#00a6ff;
    border-radius: 15px;
    margin-top: 25px;
    box-shadow: 5px 5px 100px rgb(255, 0, 89);
}

.footer_developer{
    bottom: 0;
    position: fixed;
    background-color:aquamarine;
    width: 100%;
    text-align: center;
    border-radius: 15px;
    border: 5px dashed #7300ff;
    line-height: 50px;
    font-size: 20px;
    color: #ff0062;
}
.button1:hover{
    
    background-color: #ff0062;
}

.button2:hover{
    
    background-color: #ff0000;
}